

.button-row {
    display: flex;
    justify-content: space-between;
    
}

.button-row button {
    margin: 0 10px;
}

#alexleboss {
    background-image: url('../img/light.jpg');
}

#lzakm {
    background-image: url('../img/sasuke.jpg');
}

#user1 {
    background-image: url('../img/pngwing.com.png');
}

#ronaldo {
    background-image: url('../img/ronaldo.png');
}